openapi: 3.0.1
info:
  title: core-banking-cards
  description: Banking Cards Core Application
  contact:
    name: Firefly Software Solutions Inc
    email: dev@getfirefly.io
  version: 1.0.0
servers:
  - url: http://core.catalis.vc/cards
    description: Development Environment
  - url: /
    description: Local Development Environment
tags:
  - name: Cards
    description: APIs for managing card records within the banking system
  - name: Card Programs
    description: APIs for managing card program records
  - name: Physical Cards
    description: APIs for managing physical card records linked to a specific card
  - name: Card Providers
    description: APIs for managing provider records associated with a specific card
  - name: Card Security
    description: APIs for managing security settings associated with a specific card
  - name: Issuers
    description: APIs for managing card issuer records
  - name: Card Terminals
    description: APIs for managing card terminal records
  - name: Card Limits
    description: APIs for managing limit records associated with a specific card
  - name: Card Transactions
    description: APIs for managing transaction records associated with a specific card
  - name: Card Gateways
    description: APIs for managing card gateway records
  - name: Card Networks
    description: APIs for managing card network records (Visa, Mastercard, etc.)
  - name: Card Interests
    description: APIs for managing interest records associated with a specific card
  - name: Card Payments
    description: APIs for managing payment records associated with a specific card
  - name: Card Promotions
    description: APIs for managing promotion records associated with a specific card
  - name: BINs
    description: APIs for managing Bank Identification Number (BIN) records
  - name: Card Balances
    description: APIs for managing balance records associated with a specific card
  - name: Card Activities
    description: APIs for managing activity records associated with a specific card
  - name: Card Enrollments
    description: APIs for managing enrollment records associated with a specific card
  - name: Virtual Cards
    description: APIs for managing virtual card records linked to a specific card
  - name: Card Disputes
    description: APIs for managing dispute records associated with a specific card
  - name: Card Configurations
    description: APIs for managing configuration records associated with a specific card
  - name: Card Acquirers
    description: APIs for managing card acquirer records
  - name: Card Merchants
    description: APIs for managing card merchant records
paths:
  /api/v1/terminals/{terminalId}:
    get:
      tags:
        - Card Terminals
      summary: Get Card Terminal by ID
      description: |-
        Retrieve a specific card terminal record by its unique identifier.

        This endpoint returns detailed information about a specific payment terminal, including its configuration, capabilities, location, and status. This information is useful for terminal management, troubleshooting, and transaction analysis.

        The terminal ID is a unique identifier assigned to each terminal in the system.
      operationId: getTerminal
      parameters:
        - name: terminalId
          in: path
          description: Unique identifier of the card terminal
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved the card terminal
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardTerminalDTO'
        '404':
          description: Card terminal not found
    put:
      tags:
        - Card Terminals
      summary: Update Card Terminal
      description: |-
        Update an existing card terminal record by its unique identifier.

        This endpoint allows modification of terminal attributes such as location, status, capabilities, and associated merchant or processor. The core terminal identity (reference and serial number) should generally remain stable.

        Updates to terminal configuration may affect transaction processing, so changes should be carefully validated. Terminal software and firmware versions can also be updated through this endpoint.
      operationId: updateTerminal
      parameters:
        - name: terminalId
          in: path
          description: Unique identifier of the card terminal to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardTerminalDTO'
        required: true
      responses:
        '200':
          description: Card terminal updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardTerminalDTO'
        '400':
          description: Invalid card terminal data provided
        '404':
          description: Card terminal not found
    delete:
      tags:
        - Card Terminals
      summary: Delete Card Terminal
      description: |-
        Delete a card terminal record by its unique identifier.

        This endpoint permanently removes a terminal from the system. This operation should be used with caution, as it may impact transaction history and reporting.

        Before deletion, ensure that the terminal is no longer in use and has been properly decommissioned. In many cases, deactivating a terminal rather than deleting it is the preferred approach to maintain historical records.
      operationId: deleteTerminal
      parameters:
        - name: terminalId
          in: path
          description: Unique identifier of the card terminal to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Card terminal deleted successfully
        '404':
          description: Card terminal not found
  /api/v1/programs/{programId}:
    get:
      tags:
        - Card Programs
      summary: Get Card Program by ID
      description: |-
        Retrieve a specific card program record by its unique identifier.

        ## Description
        This endpoint returns detailed information about a card program, including its configuration, limits, supported features, and associations with issuers, BINs, and card networks.

        ## Response Details
        The response includes comprehensive information about the requested card program:
        * Program identification (ID, name, code)
        * Associated entities (issuer, BIN, card type, network)
        * Validity period (start and end dates)
        * Default limits and parameters
        * Supported features and capabilities
        * Activation status

        ## Path Parameters
        * `programId` - The unique identifier of the card program in the system

        ## Common Use Cases
        * Retrieving program details before card issuance
        * Checking program configuration during system setup
        * Verifying program features and limits
      operationId: getProgram
      parameters:
        - name: programId
          in: path
          description: Unique identifier of the card program
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved the card program
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardProgramDTO'
        '404':
          description: Card program not found
    put:
      tags:
        - Card Programs
      summary: Update Card Program
      description: |-
        Update an existing card program record by its unique identifier.

        ## Description
        This endpoint allows modification of card program attributes such as limits, supported features, and activation status. It enables financial institutions to adjust program parameters based on business needs, market conditions, or regulatory requirements.

        ## Updatable Fields
        * `programName` - Name of the card program
        * `defaultDesignId` - Default card design template
        * `endDate` - When the program expires
        * `isActive` - Whether the program is active
        * `maxCardsPerParty` - Maximum cards allowed per party
        * `defaultDailyLimit` - Default daily transaction limit
        * `defaultMonthlyLimit` - Default monthly transaction limit
        * `defaultCreditLimit` - Default credit limit (for credit cards)
        * `defaultCardValidityYears` - Default card validity period in years
        * Feature flags (supports* fields) - Capabilities of cards in this program

        ## Important Note
        ⚠️ Changes to a card program may affect new cards issued under the program, but typically do not automatically apply to existing cards unless explicitly configured. Consider implementing a separate process to update existing cards if needed.

        ## Path Parameters
        * `programId` - The unique identifier of the card program to update

        ## Common Use Cases
        * Adjusting program limits based on risk assessment
        * Adding or removing program features
        * Extending or shortening program validity period
        * Activating or deactivating a program
      operationId: updateProgram
      parameters:
        - name: programId
          in: path
          description: Unique identifier of the card program to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardProgramDTO'
        required: true
      responses:
        '200':
          description: Card program updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardProgramDTO'
        '400':
          description: Invalid card program data provided
        '404':
          description: Card program not found
    delete:
      tags:
        - Card Programs
      summary: Delete Card Program
      description: |-
        Delete a card program record by its unique identifier.

        ## Description
        This endpoint permanently removes a card program from the system. It completely erases the program record from the database.

        ## Warning
        ⚠️ **This operation should be used with extreme caution!**

        Deleting a card program has several important implications:
        * New cards cannot be issued under this program
        * Existing cards issued under this program may lose their program reference
        * Program-specific rules and configurations will no longer be available
        * Historical data and reporting may be affected

        ## Recommended Alternative
        In most production scenarios, card programs should be **deactivated** rather than deleted if they are no longer in use. This preserves the program record for historical purposes while preventing new cards from being issued under this program.

        ## Appropriate Use Cases
        Card program deletion should be limited to:
        * Test programs in non-production environments
        * Programs created in error that have never been used for card issuance
        * Programs that need to be completely removed due to specific regulatory requirements

        ## Path Parameters
        * `programId` - The unique identifier of the card program to delete

        ## Required Permissions
        This operation typically requires elevated administrative privileges.
      operationId: deleteProgram
      parameters:
        - name: programId
          in: path
          description: Unique identifier of the card program to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Card program deleted successfully
        '404':
          description: Card program not found
  /api/v1/networks/{networkId}:
    get:
      tags:
        - Card Networks
      summary: Get Card Network by ID
      description: |-
        Retrieve a specific card network record by its unique identifier.

        This endpoint returns detailed information about a specific card network, including its configuration, supported features, and integration details. This information is used when setting up card programs and processing transactions.

        The network ID is a unique identifier assigned to each card network in the system.
      operationId: getNetwork
      parameters:
        - name: networkId
          in: path
          description: Unique identifier of the card network
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved the card network
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardNetworkDTO'
        '404':
          description: Card network not found
    put:
      tags:
        - Card Networks
      summary: Update Card Network
      description: |-
        Update an existing card network record by its unique identifier.

        This endpoint allows modification of card network attributes such as contact information, API endpoints, and supported features. The core network identity (name and code) should generally remain stable as they are used in many related records.

        Updates to network configuration may affect transaction processing, so changes should be carefully tested before being applied to production environments.
      operationId: updateNetwork
      parameters:
        - name: networkId
          in: path
          description: Unique identifier of the card network to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardNetworkDTO'
        required: true
      responses:
        '200':
          description: Card network updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardNetworkDTO'
        '400':
          description: Invalid card network data provided
        '404':
          description: Card network not found
    delete:
      tags:
        - Card Networks
      summary: Delete Card Network
      description: |-
        Delete a card network record by its unique identifier.

        This endpoint permanently removes a card network from the system. This operation should be used with extreme caution, as it may impact existing cards, programs, and transactions associated with this network.

        Before deletion, ensure that no active cards or programs are using this network. In most cases, deactivating a network rather than deleting it is the safer approach.
      operationId: deleteNetwork
      parameters:
        - name: networkId
          in: path
          description: Unique identifier of the card network to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Card network deleted successfully
        '404':
          description: Card network not found
  /api/v1/merchants/{merchantId}:
    get:
      tags:
        - Card Merchants
      summary: Get Card Merchant by ID
      description: |-
        Retrieve a specific card merchant record by its unique identifier.

        ## Description
        This endpoint returns comprehensive information about a merchant, including its business details, category codes, risk assessment, and settlement information. This data is useful for transaction analysis and merchant management.

        ## Response Details
        The response includes detailed information about the requested merchant:
        * Merchant identification (ID, reference, name)
        * Business details (legal name, category, type)
        * Contact information (address, phone, email)
        * Payment capabilities (supported networks, payment methods)
        * Risk assessment (risk rating, score, fraud indicators)
        * Settlement information (bank details, frequency)
        * Status and activation details

        ## Path Parameters
        * `merchantId` - The unique identifier of the merchant in the system

        ## Common Use Cases
        * Retrieving merchant details for transaction verification
        * Checking merchant status during payment processing
        * Verifying merchant risk rating for fraud prevention
        * Accessing settlement information for financial reconciliation
      operationId: getMerchant
      parameters:
        - name: merchantId
          in: path
          description: Unique identifier of the card merchant
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved the card merchant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardMerchantDTO'
        '404':
          description: Card merchant not found
    put:
      tags:
        - Card Merchants
      summary: Update Card Merchant
      description: |-
        Update an existing card merchant record by its unique identifier.

        ## Description
        This endpoint allows modification of merchant attributes such as contact information, business details, risk ratings, and settlement information. Keeping merchant information up-to-date is essential for accurate transaction processing and reporting.

        ## Updatable Fields
        * `merchantName` - Display name of the merchant
        * `merchantDisplayName` - Name shown on statements
        * `merchantDescription` - Description of the business
        * `merchantStatus` - Current status (ACTIVE, SUSPENDED, etc.)
        * `isActive` - Whether the merchant is active
        * Contact information (address, phone, email)
        * Business details (website, logo URL)
        * Payment capabilities (supported networks, payment methods)
        * Risk assessment (risk rating, score)
        * Settlement information (bank details, frequency)

        ## Important Note
        ⚠️ Some core merchant attributes should generally remain stable:
        * Merchant reference
        * Merchant legal name
        * Merchant category code
        * Tax ID and registration number

        Changes to these core attributes may require additional verification or approval processes.

        ## Path Parameters
        * `merchantId` - The unique identifier of the merchant to update

        ## Common Use Cases
        * Updating merchant contact information
        * Changing merchant status (activating, suspending)
        * Updating risk assessment after periodic review
        * Modifying settlement details after bank account changes
      operationId: updateMerchant
      parameters:
        - name: merchantId
          in: path
          description: Unique identifier of the card merchant to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardMerchantDTO'
        required: true
      responses:
        '200':
          description: Card merchant updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardMerchantDTO'
        '400':
          description: Invalid card merchant data provided
        '404':
          description: Card merchant not found
    delete:
      tags:
        - Card Merchants
      summary: Delete Card Merchant
      description: |-
        Delete a card merchant record by its unique identifier.

        ## Description
        This endpoint permanently removes a merchant from the system. It completely erases the merchant record from the database.

        ## Warning
        ⚠️ **This operation should be used with extreme caution!**

        Deleting a merchant has several important implications:
        * All transaction history associated with this merchant will be orphaned
        * Reporting and analytics will be affected
        * Chargeback and dispute processing may be compromised
        * Regulatory compliance and audit trails may be impacted

        ## Recommended Alternative
        In most production scenarios, merchants should be **deactivated** rather than deleted if they are no longer active. This preserves the merchant record for historical purposes while preventing new transactions from being processed for this merchant.

        To deactivate a merchant, use the Update endpoint to set:
        * `merchantStatus` to `INACTIVE`
        * `isActive` to `false`

        ## Appropriate Use Cases
        Merchant deletion should be limited to:
        * Test merchants in non-production environments
        * Merchants created in error that have never processed transactions
        * Specific regulatory requirements that mandate complete removal

        ## Path Parameters
        * `merchantId` - The unique identifier of the merchant to delete

        ## Required Permissions
        This operation typically requires elevated administrative privileges.
      operationId: deleteMerchant
      parameters:
        - name: merchantId
          in: path
          description: Unique identifier of the card merchant to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Card merchant deleted successfully
        '404':
          description: Card merchant not found
  /api/v1/issuers/{issuerId}:
    get:
      tags:
        - Issuers
      summary: Get Issuer by ID
      description: |-
        Retrieve a specific issuer record by its unique identifier.

        This endpoint returns detailed information about a specific card issuer, including its configuration, supported card types, contact information, and regulatory details. This information is used when setting up card programs and processing transactions.

        The issuer ID is a unique identifier assigned to each card issuer in the system.
      operationId: getIssuer
      parameters:
        - name: issuerId
          in: path
          description: Unique identifier of the issuer
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved the issuer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssuerDTO'
        '404':
          description: Issuer not found
    put:
      tags:
        - Issuers
      summary: Update Issuer
      description: |-
        Update an existing issuer record by its unique identifier.

        This endpoint allows modification of issuer attributes such as contact information, supported card types, and regulatory details. The core issuer identity (name and code) should generally remain stable.

        Updates to issuer configuration may affect card issuance and transaction processing, so changes should be carefully validated before being applied to production environments.
      operationId: updateIssuer
      parameters:
        - name: issuerId
          in: path
          description: Unique identifier of the issuer to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IssuerDTO'
        required: true
      responses:
        '200':
          description: Issuer updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssuerDTO'
        '400':
          description: Invalid issuer data provided
        '404':
          description: Issuer not found
    delete:
      tags:
        - Issuers
      summary: Delete Issuer
      description: |-
        Delete an issuer record by its unique identifier.

        This endpoint permanently removes a card issuer from the system. This operation should be used with extreme caution, as it may impact existing cards, programs, and transactions associated with this issuer.

        Before deletion, ensure that no active cards or programs are using this issuer. In most cases, deactivating an issuer rather than deleting it is the safer approach to maintain historical records.
      operationId: deleteIssuer
      parameters:
        - name: issuerId
          in: path
          description: Unique identifier of the issuer to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Issuer deleted successfully
        '404':
          description: Issuer not found
  /api/v1/gateways/{gatewayId}:
    get:
      tags:
        - Card Gateways
      summary: Get Card Gateway by ID
      description: |-
        Retrieve a specific card gateway record by its unique identifier.

        This endpoint returns detailed information about a specific payment gateway, including its configuration, integration details, supported features, and status. This information is used when processing transactions and configuring merchant integrations.

        The gateway ID is a unique identifier assigned to each payment gateway in the system.
      operationId: getGateway
      parameters:
        - name: gatewayId
          in: path
          description: Unique identifier of the card gateway
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved the card gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardGatewayDTO'
        '404':
          description: Card gateway not found
    put:
      tags:
        - Card Gateways
      summary: Update Card Gateway
      description: |-
        Update an existing card gateway record by its unique identifier.

        This endpoint allows modification of gateway attributes such as endpoint URLs, authentication credentials, supported features, and configuration parameters. The core gateway identity (name and provider) should generally remain stable.

        Updates to gateway configuration may affect transaction processing, so changes should be carefully tested in a staging environment before being applied to production.
      operationId: updateGateway
      parameters:
        - name: gatewayId
          in: path
          description: Unique identifier of the card gateway to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardGatewayDTO'
        required: true
      responses:
        '200':
          description: Card gateway updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardGatewayDTO'
        '400':
          description: Invalid card gateway data provided
        '404':
          description: Card gateway not found
    delete:
      tags:
        - Card Gateways
      summary: Delete Card Gateway
      description: |-
        Delete a card gateway record by its unique identifier.

        This endpoint permanently removes a payment gateway from the system. This operation should be used with extreme caution, as it may impact transaction processing for merchants using this gateway.

        Before deletion, ensure that no active merchants or terminals are configured to use this gateway. In most cases, deactivating a gateway rather than deleting it is the safer approach.
      operationId: deleteGateway
      parameters:
        - name: gatewayId
          in: path
          description: Unique identifier of the card gateway to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Card gateway deleted successfully
        '404':
          description: Card gateway not found
  /api/v1/cards/{cardId}/virtual-cards/{virtualCardId}:
    get:
      tags:
        - Virtual Cards
      summary: Get Virtual Card by ID
      description: Retrieve a specific virtual card record by its unique identifier, ensuring it belongs to the specified card.
      operationId: getVirtualCard
      parameters:
        - name: cardId
          in: path
          description: Unique identifier of the card
          required: true
          schema:
            type: string
            format: uuid
        - name: virtualCardId
          in: path
          description: Unique identifier of the virtual card record
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved the virtual card record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualCardDTO'
        '404':
          description: Virtual card record not found
    put:
      tags:
        - Virtual Cards
      summary: Update Virtual Card
      description: Update an existing virtual card record associated with the specified card.
      operationId: updateVirtualCard
      parameters:
        - name: cardId
          in: path
          description: Unique identifier of the card
          required: true
          schema:
            type: string
            format: uuid
        - name: virtualCardId
          in: path
          description: Unique identifier of the virtual card record to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualCardDTO'
        required: true
      responses:
        '200':
          description: Virtual card updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualCardDTO'
        '404':
          description: Virtual card record not found
    delete:
      tags:
        - Virtual Cards
      summary: Delete Virtual Card
      description: Remove an existing virtual card record by its unique identifier.
      operationId: deleteVirtualCard
      parameters:
        - name: cardId
          in: path
          description: Unique identifier of the card
          required: true
          schema:
            type: string
            format: uuid
        - name: virtualCardId
          in: path
          description: Unique identifier of the virtual card record to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Virtual card record deleted successfully
        '404':
          description: Virtual card record not found
  /api/v1/cards/{cardId}/transactions/{transactionId}:
    get:
      tags:
        - Card Transactions
      summary: Get Card Transaction by ID
      description: |-
        Retrieve a specific transaction record by its unique identifier, ensuring it belongs to the specified card.

        This endpoint returns detailed information about a specific card transaction. This information is useful for transaction verification, dispute resolution, and financial reporting.

        The transaction ID is a unique identifier assigned to each transaction record in the system. The endpoint verifies that the requested transaction belongs to the specified card before returning the data.
      operationId: getTransaction
      parameters:
        - name: cardId
          in: path
          description: Unique identifier of the card
          required: true
          schema:
            type: string
            format: uuid
        - name: transactionId
          in: path
          description: Unique identifier of the transaction record
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved the card transaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardTransactionDTO'
        '404':
          description: Card transaction not found
    put:
      tags:
        - Card Transactions
      summary: Update Card Transaction
      description: |-
        Update an existing transaction record associated with the specified card.

        This endpoint allows modification of transaction attributes such as description, category, and status. Core transaction details like amount, date, and merchant information should generally only be modified to correct errors, as they may affect financial reporting and reconciliation.

        Updates to transaction records should be carefully audited and may require special permissions depending on the system's security configuration.
      operationId: updateTransaction
      parameters:
        - name: cardId
          in: path
          description: Unique identifier of the card
          required: true
          schema:
            type: string
            format: uuid
        - name: transactionId
          in: path
          description: Unique identifier of the card transaction to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardTransactionDTO'
        required: true
      responses:
        '200':
          description: Card transaction updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardTransactionDTO'
        '404':
          description: Card transaction record not found
    delete:
      tags:
        - Card Transactions
      summary: Delete Card Transaction
      description: |-
        Remove an existing transaction record by its unique identifier.

        This endpoint permanently removes a transaction record from the system. This operation should be used with extreme caution, as it may impact financial reporting, reconciliation, and audit trails.

        In most production environments, transactions should be reversed or voided rather than deleted to maintain a complete financial history. Deletion may require special permissions and should be limited to correcting test data or specific regulatory requirements.
      operationId: deleteTransaction
      parameters:
        - name: cardId
          in: path
          description: Unique identifier of the card
          required: true
          schema:
            type: string
            format: uuid
        - name: transactionId
          in: path
          description: Unique identifier of the transaction record to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Card transaction record deleted successfully
        '404':
          description: Card transaction record not found
  /api/v1/cards/{cardId}/security/{securityId}:
    get:
      tags:
        - Card Security
      summary: Get Card Security Setting by ID
      description: Retrieve a specific security setting by its unique identifier, ensuring it belongs to the specified card.
      operationId: getSecuritySetting
      parameters:
        - name: cardId
          in: path
          description: Unique identifier of the card
          required: true
          schema:
            type: string
            format: uuid
        - name: securityId
          in: path
          description: Unique identifier of the security setting
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved the security setting
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardSecurityDTO'
        '404':
          description: Security setting not found
    put:
      tags:
        - Card Security
      summary: Update Card Security Setting
      description: Update an existing security setting associated with the specified card.
      operationId: updateSecuritySetting
      parameters:
        - name: cardId
          in: path
          description: Unique identifier of the card
          required: true
          schema:
            type: string
            format: uuid
        - name: securityId
          in: path
          description: Unique identifier of the security setting to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardSecurityDTO'
        required: true
      responses:
        '200':
          description: Security setting updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardSecurityDTO'
        '404':
          description: Security setting not found
    delete:
      tags:
        - Card Security
      summary: Delete Card Security Setting
      description: Remove an existing security setting by its unique identifier.
      operationId: deleteSecuritySetting
      parameters:
        - name: cardId
          in: path
          description: Unique identifier of the card
          required: true
          schema:
            type: string
            format: uuid
        - name: securityId
          in: path
          description: Unique identifier of the security setting record to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Security setting record deleted successfully
        '404':
          description: Security setting not found
  /api/v1/cards/{cardId}/providers/{providerId}:
    get:
      tags:
        - Card Providers
      summary: Get Card Provider by ID
      description: Retrieve a specific card provider record by its unique identifier, ensuring it belongs to the specified card.
      operationId: getProvider
      parameters:
        - name: cardId
          in: path
          description: Unique identifier of the card
          required: true
          schema:
            type: string
            format: uuid
        - name: providerId
          in: path
          description: Unique identifier of the card provider record
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved the card provider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardProviderDTO'
        '404':
          description: Card provider record not found
    put:
      tags:
        - Card Providers
      summary: Update Card Provider
      description: Update an existing provider record associated with the specified card.
      operationId: updateProvider
      parameters:
        - name: cardId
          in: path
          description: Unique identifier of the card
          required: true
          schema:
            type: string
            format: uuid
        - name: providerId
          in: path
          description: Unique identifier of the card provider record to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardProviderDTO'
        required: true
      responses:
        '200':
          description: Card provider updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardProviderDTO'
        '404':
          description: Card provider record not found
    delete:
      tags:
        - Card Providers
      summary: Delete Card Provider
      description: Remove an existing provider record from a card by its unique identifier.
      operationId: deleteProvider
      parameters:
        - name: cardId
          in: path
          description: Unique identifier of the card
          required: true
          schema:
            type: string
            format: uuid
        - name: providerId
          in: path
          description: Unique identifier of the card provider record to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Card provider record deleted successfully
        '404':
          description: Card provider record not found
  /api/v1/cards/{cardId}/promotions/{promotionId}:
    get:
      tags:
        - Card Promotions
      summary: Get Card Promotion
      description: Retrieve a specific promotion record by its unique identifier.
      operationId: getPromotion
      parameters:
        - name: cardId
          in: path
          description: Unique identifier of the card
          required: true
          schema:
            type: string
            format: uuid
        - name: promotionId
          in: path
          description: Unique identifier of the promotion record
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved the promotion record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardPromotionDTO'
        '404':
          description: Promotion record not found
    put:
      tags:
        - Card Promotions
      summary: Update Card Promotion
      description: Update an existing promotion record associated with the specified card.
      operationId: updatePromotion
      parameters:
        - name: cardId
          in: path
          description: Unique identifier of the card
          required: true
          schema:
            type: string
            format: uuid
        - name: promotionId
          in: path
          description: Unique identifier of the promotion record to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardPromotionDTO'
        required: true
      responses:
        '200':
          description: Promotion record updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardPromotionDTO'
        '400':
          description: Invalid promotion data provided
        '404':
          description: Promotion record not found
    delete:
      tags:
        - Card Promotions
      summary: Delete Card Promotion
      description: Delete a promotion record by its unique identifier.
      operationId: deletePromotion
      parameters:
        - name: cardId
          in: path
          description: Unique identifier of the card
          required: true
          schema:
            type: string
            format: uuid
        - name: promotionId
          in: path
          description: Unique identifier of the promotion record to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Promotion record deleted successfully
        '404':
          description: Promotion record not found
  /api/v1/cards/{cardId}/physical-cards/{physicalCardId}:
    get:
      tags:
        - Physical Cards
      summary: Get Physical Card by ID
      description: Retrieve a specific physical card record by its unique identifier, ensuring it belongs to the specified card.
      operationId: getPhysicalCard
      parameters:
        - name: cardId
          in: path
          description: Unique identifier of the card
          required: true
          schema:
            type: string
            format: uuid
        - name: physicalCardId
          in: path
          description: Unique identifier of the physical card record
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved the physical card
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhysicalCardDTO'
        '404':
          description: Physical card record not found
    put:
      tags:
        - Physical Cards
      summary: Update Physical Card
      description: Update an existing physical card record associated with the specified card.
      operationId: updatePhysicalCard
      parameters:
        - name: cardId
          in: path
          description: Unique identifier of the card
          required: true
          schema:
            type: string
            format: uuid
        - name: physicalCardId
          in: path
          description: Unique identifier of the physical card record to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhysicalCardDTO'
        required: true
      responses:
        '200':
          description: Physical card updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhysicalCardDTO'
        '404':
          description: Physical card record not found
    delete:
      tags:
        - Physical Cards
      summary: Delete Physical Card
      description: Remove an existing physical card record by its unique identifier.
      operationId: deletePhysicalCard
      parameters:
        - name: cardId
          in: path
          description: Unique identifier of the card
          required: true
          schema:
            type: string
            format: uuid
        - name: physicalCardId
          in: path
          description: Unique identifier of the physical card record to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Physical card record deleted successfully
        '404':
          description: Physical card record not found
  /api/v1/cards/{cardId}/payments/{paymentId}:
    get:
      tags:
        - Card Payments
      summary: Get Card Payment
      description: |-
        Retrieve a specific payment record by its unique identifier.

        This endpoint returns detailed information about a specific payment made to a card account. This information is useful for reconciliation, dispute resolution, and financial reporting.

        The payment ID is a unique identifier assigned to each payment record in the system.
      operationId: getPayment
      parameters:
        - name: cardId
          in: path
          description: Unique identifier of the card
          required: true
          schema:
            type: string
            format: uuid
        - name: paymentId
          in: path
          description: Unique identifier of the payment record
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved the payment record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardPaymentDTO'
        '404':
          description: Payment record not found
    put:
      tags:
        - Card Payments
      summary: Update Card Payment
      description: |-
        Update an existing payment record associated with the specified card.

        This endpoint allows modification of payment attributes such as description, reference numbers, and status. Core payment details like amount and date should generally only be modified to correct errors, as they may affect financial reporting and reconciliation.

        Updates to payment records should be carefully audited and may require special permissions depending on the system's security configuration.
      operationId: updatePayment
      parameters:
        - name: cardId
          in: path
          description: Unique identifier of the card
          required: true
          schema:
            type: string
            format: uuid
        - name: paymentId
          in: path
          description: Unique identifier of the payment record to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardPaymentDTO'
        required: true
      responses:
        '200':
          description: Payment record updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardPaymentDTO'
        '400':
          description: Invalid payment data provided
        '404':
          description: Payment record not found
    delete:
      tags:
        - Card Payments
      summary: Delete Card Payment
      description: |-
        Delete a payment record by its unique identifier.

        This endpoint permanently removes a payment record from the system. This operation should be used with extreme caution, as it may impact financial reporting, reconciliation, and audit trails.

        In most production environments, payments should be reversed or voided rather than deleted to maintain a complete financial history. Deletion may require special permissions and should be limited to correcting test data or specific regulatory requirements.
      operationId: deletePayment
      parameters:
        - name: cardId
          in: path
          description: Unique identifier of the card
          required: true
          schema:
            type: string
            format: uuid
        - name: paymentId
          in: path
          description: Unique identifier of the payment record to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Payment record deleted successfully
        '404':
          description: Payment record not found
  /api/v1/cards/{cardId}/limits/{limitId}:
    get:
      tags:
        - Card Limits
      summary: Get Card Limit by ID
      description: Retrieve a specific card limit record by its unique identifier, ensuring it belongs to the specified card.
      operationId: getLimit
      parameters:
        - name: cardId
          in: path
          description: Unique identifier of the card
          required: true
          schema:
            type: string
            format: uuid
        - name: limitId
          in: path
          description: Unique identifier of the card limit record
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved the card limit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardLimitDTO'
        '404':
          description: Card limit not found
    put:
      tags:
        - Card Limits
      summary: Update Card Limit
      description: Update an existing limit record associated with the specified card.
      operationId: updateLimit
      parameters:
        - name: cardId
          in: path
          description: Unique identifier of the card
          required: true
          schema:
            type: string
            format: uuid
        - name: limitId
          in: path
          description: Unique identifier of the card limit record to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardLimitDTO'
        required: true
      responses:
        '200':
          description: Card limit updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardLimitDTO'
        '404':
          description: Card limit record not found
    delete:
      tags:
        - Card Limits
      summary: Delete Card Limit
      description: Remove an existing limit record from a card by its unique identifier.
      operationId: deleteLimit
      parameters:
        - name: cardId
          in: path
          description: Unique identifier of the card
          required: true
          schema:
            type: string
            format: uuid
        - name: limitId
          in: path
          description: Unique identifier of the card limit record to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Card limit record deleted successfully
        '404':
          description: Card limit record not found
  /api/v1/cards/{cardId}/interests/{interestId}:
    get:
      tags:
        - Card Interests
      summary: Get Card Interest
      description: Retrieve a specific interest record by its unique identifier.
      operationId: getInterest
      parameters:
        - name: cardId
          in: path
          description: Unique identifier of the card
          required: true
          schema:
            type: string
            format: uuid
        - name: interestId
          in: path
          description: Unique identifier of the interest record
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved the interest record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardInterestDTO'
        '404':
          description: Interest record not found
    put:
      tags:
        - Card Interests
      summary: Update Card Interest
      description: Update an existing interest record associated with the specified card.
      operationId: updateInterest
      parameters:
        - name: cardId
          in: path
          description: Unique identifier of the card
          required: true
          schema:
            type: string
            format: uuid
        - name: interestId
          in: path
          description: Unique identifier of the interest record to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardInterestDTO'
        required: true
      responses:
        '200':
          description: Interest record updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardInterestDTO'
        '400':
          description: Invalid interest data provided
        '404':
          description: Interest record not found
    delete:
      tags:
        - Card Interests
      summary: Delete Card Interest
      description: Delete an interest record by its unique identifier.
      operationId: deleteInterest
      parameters:
        - name: cardId
          in: path
          description: Unique identifier of the card
          required: true
          schema:
            type: string
            format: uuid
        - name: interestId
          in: path
          description: Unique identifier of the interest record to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Interest record deleted successfully
        '404':
          description: Interest record not found
  /api/v1/cards/{cardId}/enrollments/{enrollmentId}:
    get:
      tags:
        - Card Enrollments
      summary: Get Card Enrollment
      description: Retrieve a specific enrollment record by its unique identifier.
      operationId: getEnrollment
      parameters:
        - name: cardId
          in: path
          description: Unique identifier of the card
          required: true
          schema:
            type: string
            format: uuid
        - name: enrollmentId
          in: path
          description: Unique identifier of the enrollment record
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved the enrollment record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardEnrollmentDTO'
        '404':
          description: Enrollment record not found
    put:
      tags:
        - Card Enrollments
      summary: Update Card Enrollment
      description: Update an existing enrollment record associated with the specified card.
      operationId: updateEnrollment
      parameters:
        - name: cardId
          in: path
          description: Unique identifier of the card
          required: true
          schema:
            type: string
            format: uuid
        - name: enrollmentId
          in: path
          description: Unique identifier of the enrollment record to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardEnrollmentDTO'
        required: true
      responses:
        '200':
          description: Enrollment record updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardEnrollmentDTO'
        '400':
          description: Invalid enrollment data provided
        '404':
          description: Enrollment record not found
    delete:
      tags:
        - Card Enrollments
      summary: Delete Card Enrollment
      description: Delete an enrollment record by its unique identifier.
      operationId: deleteEnrollment
      parameters:
        - name: cardId
          in: path
          description: Unique identifier of the card
          required: true
          schema:
            type: string
            format: uuid
        - name: enrollmentId
          in: path
          description: Unique identifier of the enrollment record to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Enrollment record deleted successfully
        '404':
          description: Enrollment record not found
  /api/v1/cards/{cardId}/disputes/{disputeId}:
    get:
      tags:
        - Card Disputes
      summary: Get Card Dispute
      description: Retrieve a specific dispute record by its unique identifier.
      operationId: getDispute
      parameters:
        - name: cardId
          in: path
          description: Unique identifier of the card
          required: true
          schema:
            type: string
            format: uuid
        - name: disputeId
          in: path
          description: Unique identifier of the dispute record
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved the dispute record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardDisputeDTO'
        '404':
          description: Dispute record not found
    put:
      tags:
        - Card Disputes
      summary: Update Card Dispute
      description: Update an existing dispute record associated with the specified card.
      operationId: updateDispute
      parameters:
        - name: cardId
          in: path
          description: Unique identifier of the card
          required: true
          schema:
            type: string
            format: uuid
        - name: disputeId
          in: path
          description: Unique identifier of the dispute record to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardDisputeDTO'
        required: true
      responses:
        '200':
          description: Dispute record updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardDisputeDTO'
        '400':
          description: Invalid dispute data provided
        '404':
          description: Dispute record not found
    delete:
      tags:
        - Card Disputes
      summary: Delete Card Dispute
      description: Delete a dispute record by its unique identifier.
      operationId: deleteDispute
      parameters:
        - name: cardId
          in: path
          description: Unique identifier of the card
          required: true
          schema:
            type: string
            format: uuid
        - name: disputeId
          in: path
          description: Unique identifier of the dispute record to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Dispute record deleted successfully
        '404':
          description: Dispute record not found
  /api/v1/cards/{cardId}/configurations/{configId}:
    get:
      tags:
        - Card Configurations
      summary: Get Card Configuration by ID
      description: Retrieve a specific card configuration record by its unique identifier, ensuring it belongs to the specified card.
      operationId: getConfiguration
      parameters:
        - name: cardId
          in: path
          description: Unique identifier of the card
          required: true
          schema:
            type: string
            format: uuid
        - name: configId
          in: path
          description: Unique identifier of the card configuration record
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved the card configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardConfigurationDTO'
        '404':
          description: Card configuration not found
    put:
      tags:
        - Card Configurations
      summary: Update Card Configuration
      description: Update an existing configuration record associated with the specified card.
      operationId: updateConfiguration
      parameters:
        - name: cardId
          in: path
          description: Unique identifier of the card
          required: true
          schema:
            type: string
            format: uuid
        - name: configId
          in: path
          description: Unique identifier of the card configuration record to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardConfigurationDTO'
        required: true
      responses:
        '200':
          description: Card configuration updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardConfigurationDTO'
        '404':
          description: Card configuration record not found
    delete:
      tags:
        - Card Configurations
      summary: Delete Card Configuration
      description: Remove an existing card configuration record by its unique identifier.
      operationId: deleteConfiguration
      parameters:
        - name: cardId
          in: path
          description: Unique identifier of the card
          required: true
          schema:
            type: string
            format: uuid
        - name: configId
          in: path
          description: Unique identifier of the card configuration record to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Card configuration record deleted successfully
        '404':
          description: Card configuration record not found
  /api/v1/cards/{cardId}/balances/{balanceId}:
    get:
      tags:
        - Card Balances
      summary: Get Card Balance
      description: Retrieve a specific balance record by its unique identifier.
      operationId: getBalance
      parameters:
        - name: cardId
          in: path
          description: Unique identifier of the card
          required: true
          schema:
            type: string
            format: uuid
        - name: balanceId
          in: path
          description: Unique identifier of the balance record
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved the balance record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardBalanceDTO'
        '404':
          description: Balance record not found
    put:
      tags:
        - Card Balances
      summary: Update Card Balance
      description: Update an existing balance record associated with the specified card.
      operationId: updateBalance
      parameters:
        - name: cardId
          in: path
          description: Unique identifier of the card
          required: true
          schema:
            type: string
            format: uuid
        - name: balanceId
          in: path
          description: Unique identifier of the balance record to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardBalanceDTO'
        required: true
      responses:
        '200':
          description: Balance record updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardBalanceDTO'
        '400':
          description: Invalid balance data provided
        '404':
          description: Balance record not found
    delete:
      tags:
        - Card Balances
      summary: Delete Card Balance
      description: Delete a balance record by its unique identifier.
      operationId: deleteBalance
      parameters:
        - name: cardId
          in: path
          description: Unique identifier of the card
          required: true
          schema:
            type: string
            format: uuid
        - name: balanceId
          in: path
          description: Unique identifier of the balance record to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Balance record deleted successfully
        '404':
          description: Balance record not found
  /api/v1/cards/{cardId}/activities/{activityId}:
    get:
      tags:
        - Card Activities
      summary: Get Card Activity
      description: Retrieve a specific activity record by its unique identifier.
      operationId: getActivity
      parameters:
        - name: cardId
          in: path
          description: Unique identifier of the card
          required: true
          schema:
            type: string
            format: uuid
        - name: activityId
          in: path
          description: Unique identifier of the activity record
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved the activity record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardActivityDTO'
        '404':
          description: Activity record not found
    put:
      tags:
        - Card Activities
      summary: Update Card Activity
      description: Update an existing activity record associated with the specified card.
      operationId: updateActivity
      parameters:
        - name: cardId
          in: path
          description: Unique identifier of the card
          required: true
          schema:
            type: string
            format: uuid
        - name: activityId
          in: path
          description: Unique identifier of the activity record to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardActivityDTO'
        required: true
      responses:
        '200':
          description: Activity record updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardActivityDTO'
        '400':
          description: Invalid activity data provided
        '404':
          description: Activity record not found
    delete:
      tags:
        - Card Activities
      summary: Delete Card Activity
      description: Delete an activity record by its unique identifier.
      operationId: deleteActivity
      parameters:
        - name: cardId
          in: path
          description: Unique identifier of the card
          required: true
          schema:
            type: string
            format: uuid
        - name: activityId
          in: path
          description: Unique identifier of the activity record to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Activity record deleted successfully
        '404':
          description: Activity record not found
  /api/v1/cards/{cardId}:
    get:
      tags:
        - Cards
      summary: Get Card by ID
      description: |-
        Retrieve an existing card record by its unique identifier.

        ## Description
        This endpoint returns comprehensive information about a card, including its status, associated accounts, limits, and key attributes. It provides all the details needed for card management and transaction processing.

        ## Response Details
        The response includes:
        * Basic card information (masked number, expiration date, status)
        * Associated entities (issuer, network, program)
        * Account details (account ID, party ID)
        * Card limits and restrictions
        * Card features and capabilities

        ## Security Considerations
        Sensitive information like the full card number, CVV, and PIN are masked or excluded from the response for security reasons. The card number is partially masked (e.g., '411111******1111') to allow identification while protecting sensitive data.

        ## Common Use Cases
        * Retrieving card details for display in party portals
        * Checking card status before processing transactions
        * Verifying card limits and restrictions
      operationId: getCard
      parameters:
        - name: cardId
          in: path
          description: Unique identifier of the card
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved the card
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardDTO'
        '404':
          description: Card not found
    put:
      tags:
        - Cards
      summary: Update Card
      description: |-
        Update an existing card record by its unique identifier.

        ## Description
        This endpoint allows modification of card attributes such as status, limits, and expiration details. It enables financial institutions to manage card lifecycle events and adjust card parameters based on party needs or risk assessments.

        ## Updatable Fields
        * `cardStatus` - Current status (ACTIVE, INACTIVE, BLOCKED, etc.)
        * `cardHolderName` - Name displayed on the card
        * `dailyLimit` - Maximum daily transaction amount
        * `monthlyLimit` - Maximum monthly transaction amount
        * `creditLimit` - Credit limit (for credit cards)
        * `expirationDate` - Card expiration date (for extensions)
        * `isActive` - Whether the card is active
        * `isLocked` - Whether the card is temporarily locked

        ## Immutable Fields
        Note that certain sensitive fields and core attributes cannot be modified after card creation:
        * Card number
        * BIN
        * Card type
        * Card network
        * Issuer

        For changes to these immutable attributes, a new card must be issued.

        ## Common Use Cases
        * Activating a newly issued card
        * Blocking a card due to suspected fraud
        * Adjusting card limits based on party request
        * Updating cardholder information
      operationId: updateCard
      parameters:
        - name: cardId
          in: path
          description: Unique identifier of the card to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardDTO'
        required: true
      responses:
        '200':
          description: Card updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardDTO'
        '404':
          description: Card not found
    delete:
      tags:
        - Cards
      summary: Delete Card
      description: |-
        Remove an existing card record by its unique identifier.

        ## Description
        This endpoint permanently removes a card from the system. It completely erases the card record and all its associated data from the database.

        ## Warning
        ⚠️ **This operation should be used with extreme caution!**

        Deleting a card has several important implications:
        * All transaction history associated with the card will be orphaned
        * Audit trails will be incomplete
        * Regulatory compliance may be compromised
        * Customer service inquiries about the card cannot be addressed

        ## Recommended Alternative
        In most production scenarios, cards should be **deactivated** or **blocked** rather than deleted. This preserves the card record and its history while preventing any new transactions.

        ## Appropriate Use Cases
        Card deletion should be limited to:
        * Test cards in non-production environments
        * Cards created in error that have never been activated
        * Specific regulatory requirements that mandate complete removal

        ## Required Permissions
        This operation typically requires elevated administrative privileges.
      operationId: deleteCard
      parameters:
        - name: cardId
          in: path
          description: Unique identifier of the card to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Card deleted successfully
        '404':
          description: Card not found
  /api/v1/bins/{binId}:
    get:
      tags:
        - BINs
      summary: Get BIN by ID
      description: |-
        Retrieve a specific Bank Identification Number (BIN) record by its unique identifier.

        ## Description
        This endpoint returns detailed information about a BIN, including its associated issuer, card network, and card type. This information is essential for card issuance and transaction processing.

        ## Response Details
        The response includes comprehensive information about the requested BIN:
        * BIN number and length
        * Associated issuer details
        * Card network information
        * Card type specifications
        * Geographic and currency information
        * Activation status and description

        ## Path Parameters
        * `binId` - The unique identifier of the BIN record in the system

        ## Common Use Cases
        * Retrieving BIN details before card issuance
        * Verifying BIN configuration during system setup
        * Checking BIN status during transaction processing
      operationId: getBIN
      parameters:
        - name: binId
          in: path
          description: Unique identifier of the BIN
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved the BIN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BINDTO'
        '404':
          description: BIN not found
    put:
      tags:
        - BINs
      summary: Update BIN
      description: |-
        Update an existing Bank Identification Number (BIN) record by its unique identifier.

        ## Description
        This endpoint allows modification of BIN attributes such as associated card type, network, country code, currency code, and activation status.

        ## Updatable Fields
        * `cardTypeId` - Type of card issued under this BIN
        * `cardNetworkId` - Card network associated with this BIN
        * `countryCode` - ISO country code for the BIN
        * `currencyCode` - ISO currency code for cards issued under this BIN
        * `isActive` - Whether the BIN is active
        * `description` - Additional information about the BIN

        ## Important Note
        ⚠️ The BIN number itself should typically not be changed as it is a standardized identifier assigned by card networks. Changing the BIN number could cause transaction routing issues and affect existing cards issued with this BIN.

        ## Path Parameters
        * `binId` - The unique identifier of the BIN record to update

        ## Common Use Cases
        * Updating BIN status (activating or deactivating)
        * Modifying currency or country information
        * Updating card type or network associations
      operationId: updateBIN
      parameters:
        - name: binId
          in: path
          description: Unique identifier of the BIN to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BINDTO'
        required: true
      responses:
        '200':
          description: BIN updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BINDTO'
        '400':
          description: Invalid BIN data provided
        '404':
          description: BIN not found
    delete:
      tags:
        - BINs
      summary: Delete BIN
      description: |-
        Delete a Bank Identification Number (BIN) record by its unique identifier.

        ## Description
        This endpoint permanently removes a BIN from the system. It completely erases the BIN record from the database.

        ## Warning
        ⚠️ **This operation should be used with extreme caution!**

        Deleting a BIN has several important implications:
        * Cards issued with this BIN may experience transaction routing issues
        * Card issuance processes using this BIN will fail
        * Historical transaction data may become inconsistent

        ## Recommended Alternative
        In most production scenarios, BINs should be **deactivated** rather than deleted if they are no longer in use. This preserves the BIN record for historical purposes while preventing new cards from being issued with this BIN.

        ## Appropriate Use Cases
        BIN deletion should be limited to:
        * Test BINs in non-production environments
        * BINs created in error that have never been used for card issuance
        * BINs that are no longer assigned to your organization by the card network

        ## Path Parameters
        * `binId` - The unique identifier of the BIN record to delete

        ## Required Permissions
        This operation typically requires elevated administrative privileges.
      operationId: deleteBIN
      parameters:
        - name: binId
          in: path
          description: Unique identifier of the BIN to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: BIN deleted successfully
        '404':
          description: BIN not found
  /api/v1/acquirers/{acquirerId}:
    get:
      tags:
        - Card Acquirers
      summary: Get Card Acquirer by ID
      description: |-
        Retrieve a specific card acquirer record by its unique identifier.

        This endpoint returns detailed information about a specific card acquirer, including its configuration, supported card networks, integration details, and settlement information. This information is used when configuring merchant accounts and processing transactions.

        The acquirer ID is a unique identifier assigned to each card acquirer in the system.
      operationId: getAcquirer
      parameters:
        - name: acquirerId
          in: path
          description: Unique identifier of the card acquirer
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved the card acquirer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardAcquirerDTO'
        '404':
          description: Card acquirer not found
    put:
      tags:
        - Card Acquirers
      summary: Update Card Acquirer
      description: |-
        Update an existing card acquirer record by its unique identifier.

        This endpoint allows modification of acquirer attributes such as contact information, supported card networks, settlement details, and integration parameters. The core acquirer identity (name and code) should generally remain stable.

        Updates to acquirer configuration may affect transaction processing and settlement, so changes should be carefully tested before being applied to production environments.
      operationId: updateAcquirer
      parameters:
        - name: acquirerId
          in: path
          description: Unique identifier of the card acquirer to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardAcquirerDTO'
        required: true
      responses:
        '200':
          description: Card acquirer updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardAcquirerDTO'
        '400':
          description: Invalid card acquirer data provided
        '404':
          description: Card acquirer not found
    delete:
      tags:
        - Card Acquirers
      summary: Delete Card Acquirer
      description: |-
        Delete a card acquirer record by its unique identifier.

        This endpoint permanently removes a card acquirer from the system. This operation should be used with extreme caution, as it may impact transaction processing and settlement for merchants associated with this acquirer.

        Before deletion, ensure that no active merchants are using this acquirer. In most cases, deactivating an acquirer rather than deleting it is the safer approach to maintain historical records.
      operationId: deleteAcquirer
      parameters:
        - name: acquirerId
          in: path
          description: Unique identifier of the card acquirer to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Card acquirer deleted successfully
        '404':
          description: Card acquirer not found
  /api/v1/terminals:
    get:
      tags:
        - Card Terminals
      summary: List Card Terminals
      description: |-
        Retrieve a paginated list of all card terminal records.

        Card terminals are physical devices used by merchants to process card payments. This endpoint returns information about all terminals registered in the system, including their type, model, location, and capabilities.

        The response includes terminal details such as serial number, manufacturer, supported features, and associated merchant information. Results can be filtered and sorted using the pagination parameters.
      operationId: getAllTerminals
      parameters:
        - name: paginationRequest
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/PaginationRequest'
      responses:
        '200':
          description: Successfully retrieved card terminals
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginationResponse'
        '404':
          description: No card terminal records found
    post:
      tags:
        - Card Terminals
      summary: Create Card Terminal
      description: |-
        Create a new card terminal record.

        This endpoint allows registering a new payment terminal in the system. Terminals are the physical or virtual devices that merchants use to accept card payments from parties.

        Required information includes the terminal reference, serial number, type, model, and associated merchant. Additional details like location, capabilities (contactless, chip, magstripe), and processor information can also be provided.
      operationId: createTerminal
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardTerminalDTO'
        required: true
      responses:
        '201':
          description: Card terminal created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardTerminalDTO'
        '400':
          description: Invalid card terminal data provided
  /api/v1/programs:
    get:
      tags:
        - Card Programs
      summary: List Card Programs
      description: |-
        Retrieve a paginated list of all card program records.

        ## Description
        Card programs define the rules, configurations, and features for a group of cards. They specify parameters such as card limits, supported features, and eligibility criteria. Programs are the templates from which individual cards are created.

        ## Response Details
        The response includes a paginated list of card program records with the following information for each program:
        * Program name, code, and description
        * Associated issuer, BIN, card type, and network
        * Default card design
        * Program validity period (start and end dates)
        * Default limits (daily, monthly, credit)
        * Supported features (contactless, international, ATM, etc.)
        * Activation status

        ## Filtering and Sorting
        This endpoint supports filtering and sorting capabilities through the following parameters:
        * `page` - Page number (zero-based)
        * `size` - Number of items per page
        * `sort` - Sort field and direction (e.g., `programName,asc`)

        ## Common Use Cases
        * Retrieving all active card programs
        * Listing programs for a specific issuer or card type
        * Finding programs with specific features (e.g., international support)
      operationId: getAllPrograms
      parameters:
        - name: paginationRequest
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/PaginationRequest'
      responses:
        '200':
          description: Successfully retrieved card programs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginationResponse'
        '404':
          description: No card program records found
    post:
      tags:
        - Card Programs
      summary: Create Card Program
      description: |-
        Create a new card program record.

        ## Description
        Card programs are the foundation for issuing cards to parties. Each program defines the characteristics, limits, and features of cards issued under it. Programs are typically associated with specific issuers, BINs, card types, and networks.

        ## Required Fields
        * `programName` - Name of the card program
        * `programCode` - Unique code for the program
        * `issuerId` - Financial institution issuing cards under this program
        * `binId` - Bank Identification Number for cards in this program
        * `cardTypeId` - Type of cards issued under this program
        * `cardNetworkId` - Card network for this program
        * `startDate` - When the program becomes active

        ## Optional Fields
        * `endDate` - When the program expires
        * `defaultDesignId` - Default card design template
        * `maxCardsPerParty` - Maximum cards allowed per party
        * `defaultDailyLimit` - Default daily transaction limit
        * `defaultMonthlyLimit` - Default monthly transaction limit
        * `defaultCreditLimit` - Default credit limit (for credit cards)
        * `defaultCardValidityYears` - Default card validity period in years
        * Feature flags (supports* fields) - Capabilities of cards in this program

        ## Business Rules
        When creating a card program, consider the following business rules:
        * Programs must have a valid start date (today or in the future)
        * If an end date is specified, it must be after the start date
        * The BIN must match the card type and network specified
        * Default limits should align with regulatory requirements
      operationId: createProgram
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardProgramDTO'
        required: true
      responses:
        '201':
          description: Card program created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardProgramDTO'
        '400':
          description: Invalid card program data provided
  /api/v1/networks:
    get:
      tags:
        - Card Networks
      summary: List Card Networks
      description: |-
        Retrieve a paginated list of all card network records.

[...]
